* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap {
    width: 90%;
    height:auto;
    margin: auto;
}
div.logo {
    display: block;
    width: 100%;
    margin: 1% auto;
    height: 294px;
    background-image: url('images/logo.png');
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    border-bottom: 1px solid black;
}
h1, h2, p {
    width: 100%;
    margin: 1%;
 }
p {
    text-align: justify;
    margin: auto;
    padding: 1%;
 }
img.rasa {
    width: 100%;
    padding: 1%;
}

img.two-in-line {
    width: 49%;
    padding-left: 1%;
}

img.three-in-line {
    width: 32%;
    padding-left: 1%;
}
img.four-in-line {
    width: 24%;
}
@media screen and (max-width: 900px){
    div.logo {
        height: 218px;
    }
}
@media screen and (max-width: 640px){
    img.four-in-line {
        width: 49%;
    }
}
@media screen and (max-width: 500px){
    div.logo {
        height: 150px;
    }
}
